.spacer {
  aspect-ratio: 900/200;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


#imageContainerSurfSection {
  width: 100%;
  height: 65vh;
  background: url('../../assets/images/surf-longboard.jpeg');
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-position: center;
}

.overlaySurf {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}

.overlayTopLayerSurf {
  position: absolute;
  z-index: 7;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
