.spacer {
  aspect-ratio: 900/200;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blob {
  background-image: url('../../assets/images/blue-blob.svg');
}
