.spacer {
  aspect-ratio: 900/200;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.borderTop {
  background-image: url('../../assets/images/top-multicurve.svg');
  margin-top: -220px;
  z-index: 100;

}

.borderBottom {
  background-image: url('../../assets/images/bottom-multicurve.svg');
  margin-bottom: -200px;
}