.firstLineLogo {
  font-family: 'gota-light', sans-serif;
  font-size: 1.7rem;
  line-height: 0.7;
  letter-spacing: 1px;
  color: #DDC476;
}

.subLineLogo {
  font-family: 'GlacialIndifference', sans-serif;
  font-size: 1rem;
  margin-left: 4rem;
}
